.cont{
  width: 100%;
  height: 900px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div1{
	width:800px;
	height:800px;
	
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	padding: 50px;
}
.div2{
	width:50px;
	height:50px;
	position: relative;
	left: 0px;
	
	
}
.btn{
	width: 200px;
	height: 100px;	
	font-size: 20pt;
	position:relative;
	padding: 1rem 2rem;
	background-color: #F19CBB;
	border: none;
	color: white;
	outline: none;
	cursor: pointer;
	overflow: hidden;

	
}
.btn::before{
	--size: 0;
	content: '';
	position: absolute;
	top: var(--у);
	left: var(--x);
	transform: translate(-50%, -50%);
	width: var(--size);
	height: var(--size);
	background: radial-gradient(circle closest-side, blue, transparent);
	
   
	transition: 0.3s;
}
.btn:hover::before{
	--size:300px;
}
span{
	position: relative;
	pointer-events: none;
}
.serce2{
	width: 40px;
	height: 40px;
	
	position: absolute;
	margin-top: -550px;
	
	
	
}
.gif1,.gif2,.gif3,.gif4,.gif5,.gif6{
	width: 250px;
	height: 250px;
}
header{
	width: 100%;
	height: 1000px;
	position:absolute;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	
}

.gif1{
	
}
.contgif{
	width:30%;
	height: 1000px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin:-20px;
	top: -100px;
}
.contgif2{
	width:30%;
	height: 1000px;
	display:flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;

	margin: -20px;
	top:-100px;
}
@font-face {
    font-family: Pompadur; /* Гарнитура шрифта */
    src: url(fonts/pompadur.eot); /* Для IE5-8 */
    src: local(pompadur), url(fonts/pompadur.ttf); /* Для остальных браузеров */
   }
    .h1{
    	font-size: 20px;
    	font-family: Pompadur, 'Comic Sans MS', cursive;

    }
    .h2{
    	font-size: 20px;
    	font-family: Pompadur, 'Edu TAS Beginner', cursive;
    }
    .h3{
    	font-size: 20px;
    	font-family: 'Shadows Into Light', cursive;
    }
    .h4{
    	font-size: 20px;
    	font-family: Pompadur, 'Comic Sans MS', cursive;
    }